<table class="tableList">
    <tr>
        <th>&#10004;</th>
        <th>ID</th>
        <th>NAME</th>
        <th>QUANTITY</th>
        <th>PRICE</th>
        <th>DESCRIPTION</th>
    </tr>
    <tr *ngFor="let item of localDataService.shoppingItems">
        <td><input type="radio" id="html" name="btnCheckList" value="HTML">
        <td>{{item.itemID}}</td>
        <td>{{item.itemName | uppercase}}</td>
        <td>{{item.itemQuantity}}</td>
        <td>{{item.itemPrice | currency:'PHP' : 'symbol':'1.2-2'}}</td>
        <td>{{item.itemDescription}}</td>
    </tr>
</table>