<div>
  <h1>Shopping List <img class="shopListLogo" src="https://i.postimg.cc/L597bgcY/shopping-List-Logo.png"></h1>
  <h2 class="emptyList" [hidden]="!submitted">Shopping List is Empty</h2>
  <table class="tableList">
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>QUANTITY</th>
      <th>PRICE</th>
      <th>DESCRIPTION</th>
    </tr>
    <tr *ngFor="let item of localDataService.shoppingItems">
      <td>{{item.itemID}}</td>
      <td>{{item.itemName | uppercase}}</td>
      <td>{{item.itemQuantity}}</td>
      <td>{{item.itemPrice | currency:'PHP' : 'symbol':'1.2-2'}}</td>
      <td>{{item.itemDescription}}</td>
    </tr>
  </table>
  <div class="container">
    <button onclick="document.getElementById('id01').style.display='block'" class="addBtn"><b>ADD ITEM</b></button>
    <button onclick="document.getElementById('id02').style.display='block'" class="updateBtn"><b>UPDATE ITEM</b></button>
    <button onclick="document.getElementById('id03').style.display='block'" class="deleteBtn"><b>DELETE ITEM</b></button>
  </div>
  <add-list></add-list>
</div>